In [2]:
import pandas as pd
import os
import sqlite3
os.chdir('/Users/Lenovo/Desktop/EBAC')

In [12]:
data = pd.read_csv('Cientifico-de-Datos-M40-Customers.csv')
data.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country,PurchaseUSD
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany,14861
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constituci?n 2222,M?xico D.F.,5021,Mexico,9900
2,3,Antonio Moreno Taquer?a,Antonio Moreno,Mataderos 2312,M?xico D.F.,5023,Mexico,7735
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK,10295
4,5,Berglunds snabbk?p,Christina Berglund,Berguvsv?gen 8,Lule?,S-958 22,Sweden,6755

In [22]:
conn = sqlite3.connect('Clientes.db')

In [16]:
#Estructura de control para manipular registros
conn.cursor()

In [20]:
cur = conn.cursor()

In [18]:
data.to_sql("Clientes", conn, if_exists = "replace", index = False)

91

In [24]:
#Ejecutar una consulta
cur.execute("SELECT * FROM Clientes;")

In [26]:
conn.execute("SELECT * FROM Clientes LIMIT 5;").fetchall()

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany',
  14861),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constituci?n 2222',
  'M?xico D.F.',
  '5021',
  'Mexico',
  9900),
 (3,
  'Antonio Moreno Taquer?a',
  'Antonio Moreno',
  'Mataderos 2312',
  'M?xico D.F.',
  '5023',
  'Mexico',
  7735),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK',
  10295),
 (5,
  'Berglunds snabbk?p',
  'Christina Berglund',
  'Berguvsv?gen 8',
  'Lule?',
  'S-958 22',
  'Sweden',
  6755)]

In [28]:
with open("Operaciones.sql", "w") as _file:
    for line in conn.iterdump():
        _file.write(f"{line}\n")